body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu-bar{
	background-color: #fff0e5;
    padding: 50px 0px;
}
.mid{
	width: 86%;
	margin: auto;
    margin-top: -36px;
}
.logo{
	width: 30%;
	float: left;
	cursor: pointer;
}
.menu{
	width: 70%;
	float: left;
}
.menu ul{
	text-align: right;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	display: block;
	color: black;
	font-size: 16px;
	padding: 10px 20px;
    text-decoration: none;
}
.menu ul li:hover a{
	color: orange;
}

section .top-banner{
    padding-top: 20px;
}
.banner-left-part{
    padding-top: 100px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.banner-right-part{
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
h1 span{
    color: orange;
}
p{
    color: dimgray;
    margin-bottom: 60px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #f68d4c, #ff2200);
    padding: 20px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
	text-decoration: none;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 100px;
	border-radius: 30px;
}
.banner-right-part img{
    width: 100%;
    padding-top: 36px;
}

.about-area{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: absolute;
    margin-top: 800px;
}

.about-left-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.about-right-part{
    padding-top: 80px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.about-left-part img{
    padding-left: 20%;
    padding-top: 14%;
    width: 45%;
}

.recipies-area{
    margin-top: 1400px;
}
.recipies-title{
    text-align: center;  
    margin-top: 5%;
}
.recipies-paragraph{
    text-align: center;
    margin: 0px auto;
    width: 40%;
    margin-bottom: 5%;  
}
.d-flex{
    display: flex;
    margin-right: 5%;
}
.recipies-area h2{
    font-size: 30px;
}
.recipies-area h2{
    font-size: 30px;
}
.recipies-item-one{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 8%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;

}
.recipies-item-two{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 3%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.recipies-item-three{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 3%;
    margin-right: 2%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
#recipies-one img{
    width: 100%;
}
#recipies-two img{
    width: 100%;
}
#recipies-three img{
    width: 100%;
}
