body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.menu-bar{
	background-color: #fff0e5;
    padding: 50px 0px;
}
.mid{
	width: 86%;
	margin: auto;
    margin-top: -36px;
}
.logo{
	width: 30%;
	float: left;
	cursor: pointer;
}
.menu{
	width: 70%;
	float: left;
}
.menu ul{
	text-align: right;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	display: block;
	color: black;
	font-size: 16px;
	padding: 10px 20px;
    text-decoration: none;
}
.menu ul li:hover a{
	color: orange;
}

section .top-banner{
    padding-top: 20px;
}
.banner-left-part{
    padding-top: 100px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.banner-right-part{
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
	color: #4a4a4a;
    font-weight: 900;
	line-height: 74px;
}
h1 span{
    color: orange;
}
p{
    color: dimgray;
    margin-bottom: 60px;
	line-height: 26px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #f68d4c, #ff2200);
    padding: 20px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
	text-decoration: none;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 100px;
	border-radius: 30px;
}
.banner-right-part img{
    width: 100%;
    padding-top: 36px;
}

.about-area{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: absolute;
    margin-top: 800px;
}

.about-left-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.about-right-part{
    padding-top: 80px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.about-left-part img{
    padding-left: 20%;
    padding-top: 14%;
    width: 45%;
}

.recipies-area{
    margin-top: 1400px;
}
.recipies-title{
    text-align: center;  
    margin-top: 5%;
}
.recipies-paragraph{
    text-align: center;
    margin: 0px auto;
    width: 40%;
    margin-bottom: 5%;  
}
.d-flex{
    display: flex;
    margin-right: 5%;
}
.recipies-area h2{
    font-size: 30px;
	color: #4a4a4a;
}
.recipies-area h2{
    font-size: 30px;
}
.recipies-item-one{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 8%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;

}
.recipies-item-two{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 3%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.recipies-item-three{
    box-shadow: 0px 0px 20px gray;
    width: 30%;
    margin-left: 3%;
    margin-right: 2%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
#recipies-one img{
    width: 100%;
	margin-top: 8px;
}
#recipies-two img{
    width: 100%;
	margin-top: 8px;
}
#recipies-three img{
    width: 100%;
	margin-top: 8px;
}

.social-area{
    margin-top: 100px;
}
.d-flex-social{
    display: flex;
    margin-right: 5%;
    box-shadow: 0px 0px 20px gray;
    width: 82%;
    margin-left: 8%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.social-item-one{
    width: 30%;
    margin-left: 15%;
}
.social-item-one h1{
    margin-bottom: 0px;
}
.social-item-two{
    width: 30%;
}
.social-item-two h1{
    margin-bottom: 0px;
}
.social-item-three{
    width: 30%;   
}
.social-item-three h1{
    margin-bottom: 0px;
}

.contact-area{
    margin-top: 100px;
    padding-top: 10px;
    background-image: url(images/contact.jpg);
    height: 780px;
}
.contact-title{
    text-align: center;  
    margin-top: 5%;
}
.contact-paragraph{
    text-align: center;
    margin: 0px auto;
    width: 40%;
    margin-bottom: 5%;  
}
.d-flex-contactl{ 
    margin-top: 10px;

    width: 86%;
	margin: auto;
}
.address {
    padding: 0 20px;
    float: left;
    width: 30%;
    margin-left: 8%;
}
.address h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 3px 0;
}
.address p a{
    color: #777;
    margin: 0 0 20px;
    text-decoration: none;
}
.message {
    padding-left: 10%;
    float: left;
    width: 40%;
}
.form-group {
    margin-bottom: 25px;
}
.form-control {
    border: 1px solid rgba(221, 221, 221, 1);
    box-shadow: none;
    height: 45px;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 7px 13px 0 rgba(72, 194, 78, 0.02), 0 0px 15px 0 rgba(72, 194, 78, 0.09);
}
textarea.form-control {
    resize: none;
    padding: 14px 12px;
}
.form-control:hover {
    border-width: 1px;
    border-style: solid;
}
.form-control:focus {
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    outline: 0 none;
    box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.1);
}
#mag{
    width: 98%;
    margin-bottom: 20px;
}
input[placeholder]{
    text-align: left;
    padding-left: 10px;
}

.footer-design{
    background-color: black;
    padding: 20px 0px;
}
footer h2{
    text-align: center;
    color:#737374;
}
h2 span{
    color: orange;
}
footer p{
    text-align: center;
    color: white;
}